@import "/src/styles/context.scss";

.main-header {
    height: $main-header-height-xs;
    width: 100%;
    top: 0;
    background: var(--color-white);
    border-bottom: 0.0625rem solid #eee;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    padding: 0 0.5rem;
    position: fixed;
    z-index: 1000;

    @include break-above-sm() {
        height: $main-header-height-sm;
        padding: 0 1rem;
    }
}

.main-logo {
    display: inline-block;
    height: 75%;
    width: 5.5rem;
    background-image: url("/assets/jesta_black.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    @include break-above-sm() {
        width: 6rem;
    }
}

.navbar-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    min-width: 16rem;
    border-right: 0.0625rem solid #eee;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

    @include break-above-md() {
        min-width: 18rem;
    }

    @include break-above-lg() {
        min-width: 20rem;
    }
}

mat-sidenav-content {
    min-height: 100vh;
    padding-top: $main-header-height-xs;
    @include break-above-sm() {
        padding-top: $main-header-height-sm;
    }
}
