// Screens:
$max-width-screen-xs: 36rem; // 576px  | Phones
$max-width-screen-sm: 48rem; // 768px  | Tablets
$max-width-screen-md: 62rem; // 992px  | Laptops
$max-width-screen-lg: 75rem; // 1200px | Desktops

// Spacing:
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 3rem;
$space-5: 4rem;