<section class="container">
    <header class="mb-4">
        <h1 class="title-1">הגדרות חשבון</h1>
    </header>

    <mat-accordion>
        <!-- Update Name: -->
        <mat-expansion-panel #updateNamePanel (afterCollapse)="resetUpdateNameForm()">
            <mat-expansion-panel-header>
                <mat-panel-title>שם מלא</mat-panel-title>
                <mat-panel-description>{{ updateNameSettingValue }}</mat-panel-description>
            </mat-expansion-panel-header>
            <section class="p-1 xs-p-2">
                <form [formGroup]="updateNameForm" (submit)="updateName()">
                    <h2 class="mb-3">עידכון שם מלא</h2>
                    <div class="d-flex flex-col w-100 maxw-xxs">
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>שם פרטי</mat-label>
                            <input formControlName="firstName" matInput type="text" autocomplete="given-name" />
                            <button mat-icon-button type="button" *ngIf="updateNameForm.controls['firstName'].value" matSuffix aria-label="נקה" (click)="updateNameForm.controls['firstName'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="updateNameForm.controls['firstName'].hasError('required')">
                                יש להזין שם פרטי
                            </mat-error>
                            <mat-error *ngIf="updateNameForm.controls['firstName'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>שם משפחה</mat-label>
                            <input formControlName="lastName" matInput type="text" autocomplete="family-name" />
                            <button mat-icon-button type="button" *ngIf="updateNameForm.controls['lastName'].value" matSuffix aria-label="נקה" (click)="updateNameForm.controls['lastName'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="updateNameForm.controls['lastName'].hasError('required')">
                                יש להזין שם משפחה
                            </mat-error>
                            <mat-error *ngIf="updateNameForm.controls['lastName'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary" class=" py-1 px-5" [disabled]="updateNameForm.invalid || updateNameFormLoading || (updateNameSettingValue == (updateNameForm.controls['firstName'].value + ' ' + updateNameForm.controls['lastName'].value))">שמירה</button>
                    <mat-progress-bar class="overlay-bottom" *ngIf="updateNameFormLoading" mode="indeterminate">
                    </mat-progress-bar>
                </form>
            </section>
        </mat-expansion-panel>

        <!-- Update Email: -->
        <mat-expansion-panel #updateEmailPanel (afterCollapse)="resetUpdateEmailForm()">
            <mat-expansion-panel-header>
                <mat-panel-title>דוא"ל</mat-panel-title>
                <mat-panel-description>{{ updateEmailSettingValue }}</mat-panel-description>
            </mat-expansion-panel-header>
            <section class="p-1 xs-p-2">
                <form [formGroup]="updateEmailForm" (submit)="updateEmail()">
                    <h2 class="mb-3">עידכון כתובת דוא"ל</h2>
                    <div class="d-flex flex-col w-100 maxw-xxs">
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>דוא"ל</mat-label>
                            <input formControlName="email" matInput type="email" autocomplete="email" />
                            <button mat-icon-button type="button" *ngIf="updateEmailForm.controls['email'].value" matSuffix aria-label="נקה" (click)="updateEmailForm.controls['email'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="updateEmailForm.controls['email'].hasError('required')">
                                יש להזין כתובת דוא"ל
                            </mat-error>
                            <mat-error *ngIf="updateEmailForm.controls['email'].hasError('email')">
                                כתובת דוא"ל לא תקינה
                            </mat-error>
                            <mat-error *ngIf="updateEmailForm.controls['email'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>סיסמה לצורך אבטחה</mat-label>
                            <input formControlName="password" matInput type="password" autocomplete="off" />
                            <button mat-icon-button type="button" *ngIf="updateEmailForm.controls['password'].value" matSuffix aria-label="נקה" (click)="updateEmailForm.controls['password'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="updateEmailForm.controls['password'].hasError('required')">
                                יש להזין סיסמה
                            </mat-error>
                            <mat-error *ngIf="updateEmailForm.controls['password'].hasError('minlength')">
                                אורך מינימאלי הוא 8 תווים
                            </mat-error>
                            <mat-error *ngIf="updateEmailForm.controls['password'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                            <mat-error *ngIf="updateEmailForm.controls['password'].hasError('mustHaveLowercase')">
                                חייב לפחות אות קטנה אחת (a-z)
                            </mat-error>
                            <mat-error *ngIf="updateEmailForm.controls['password'].hasError('mustHaveUppercase')">
                                חייב לפחות אות גדולה אחת (A-Z)
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary" class=" py-1 px-5" [disabled]="updateEmailForm.invalid || updateEmailFormLoading || (updateEmailSettingValue == updateEmailForm.controls['email'].value)">שמירה</button>
                    <mat-progress-bar class="overlay-bottom" *ngIf="updateEmailFormLoading" mode="indeterminate">
                    </mat-progress-bar>
                </form>
            </section>
        </mat-expansion-panel>

        <!-- Change Password: -->
        <mat-expansion-panel #changePasswordPanel (afterCollapse)="resetChangePasswordForm()">
            <mat-expansion-panel-header>
                <mat-panel-title>שינוי סיסמה</mat-panel-title>
            </mat-expansion-panel-header>
            <section class="p-1 xs-p-2">
                <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                    <h2 class="mb-3">שינוי סיסמה</h2>
                    <div class="d-flex flex-col w-100 maxw-xxs">
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>סיסמה נוכחית</mat-label>
                            <input formControlName="currentPassword" matInput type="password" autocomplete="off" />
                            <button mat-icon-button type="button" *ngIf="changePasswordForm.controls['currentPassword'].value" matSuffix aria-label="נקה" (click)="changePasswordForm.controls['currentPassword'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('required')">
                                יש להזין סיסמה
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('minlength')">
                                אורך מינימאלי הוא 8 תווים
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('mustHaveLowercase')">
                                חייב לפחות אות קטנה אחת (a-z)
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['currentPassword'].hasError('mustHaveUppercase')">
                                חייב לפחות אות גדולה אחת (A-Z)
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>סיסמה חדשה</mat-label>
                            <input formControlName="newPassword" matInput type="password" autocomplete="off" />
                            <button mat-icon-button type="button" *ngIf="changePasswordForm.controls['newPassword'].value" matSuffix aria-label="נקה" (click)="changePasswordForm.controls['newPassword'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
                                יש להזין סיסמה
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">
                                אורך מינימאלי הוא 8 תווים
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('mustHaveLowercase')">
                                חייב לפחות אות קטנה אחת (a-z)
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('mustHaveUppercase')">
                                חייב לפחות אות גדולה אחת (A-Z)
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('notEquals')">
                                יש להזין סיסמה שונה מהנוכחית
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>סיסמה חדשה שוב</mat-label>
                            <input formControlName="newPasswordConfirm" matInput type="password" autocomplete="off" />
                            <button mat-icon-button type="button" *ngIf="changePasswordForm.controls['newPasswordConfirm'].value" matSuffix aria-label="נקה" (click)="changePasswordForm.controls['newPasswordConfirm'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].hasError('required')">
                                יש להזין סיסמה
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].hasError('minlength')">
                                אורך מינימאלי הוא 8 תווים
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].hasError('mustHaveLowercase')">
                                חייב לפחות אות קטנה אחת (a-z)
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].hasError('mustHaveUppercase')">
                                חייב לפחות אות גדולה אחת (A-Z)
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPasswordConfirm'].hasError('equals')">
                                הסיסמאות אינן זהות
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary" class=" py-1 px-5" [disabled]="changePasswordForm.invalid || changePasswordFormLoading">עידכון</button>
                    <mat-progress-bar class="overlay-bottom" *ngIf="changePasswordFormLoading" mode="indeterminate">
                    </mat-progress-bar>
                </form>
            </section>
        </mat-expansion-panel>

        <!-- Delete Account: -->
        <mat-expansion-panel #deleteAccountPanel (afterCollapse)="resetDeleteAccountForm()">
            <mat-expansion-panel-header>
                <mat-panel-title>מחיקת חשבון</mat-panel-title>
            </mat-expansion-panel-header>
            <section class="p-1 xs-p-2">
                <form [formGroup]="deleteAccountForm" (submit)="deleteAccount()">
                    <h2 class="mb-3">מחיקת חשבון</h2>
                    <p class="txt-danger mb-3">אזהרה: פעולה זאת תמחק את החשבון לצמיתות ולא יהיה ניתן לשחזר מידע זה
                        בעתיד!</p>
                    <div class="d-flex flex-col w-100 maxw-xxs">
                        <mat-form-field class="minw-100" appearance="outline">
                            <mat-label>סיסמה לצורך אבטחה</mat-label>
                            <input formControlName="password" matInput type="password" autocomplete="off" />
                            <button mat-icon-button type="button" *ngIf="deleteAccountForm.controls['password'].value" matSuffix aria-label="נקה" (click)="deleteAccountForm.controls['password'].reset()" tabindex="-1">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="deleteAccountForm.controls['password'].hasError('required')">
                                יש להזין סיסמה
                            </mat-error>
                            <mat-error *ngIf="deleteAccountForm.controls['password'].hasError('minlength')">
                                אורך מינימאלי הוא 8 תווים
                            </mat-error>
                            <mat-error *ngIf="deleteAccountForm.controls['password'].hasError('maxlength')">
                                אורך מקסימאלי הוא 50 תווים
                            </mat-error>
                            <mat-error *ngIf="deleteAccountForm.controls['password'].hasError('mustHaveLowercase')">
                                חייב לפחות אות קטנה אחת (a-z)
                            </mat-error>
                            <mat-error *ngIf="deleteAccountForm.controls['password'].hasError('mustHaveUppercase')">
                                חייב לפחות אות גדולה אחת (A-Z)
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary" class=" py-1 px-5" [disabled]="deleteAccountForm.invalid || deleteAccountFormLoading">מחיקה</button>
                    <mat-progress-bar class="overlay-bottom" *ngIf="deleteAccountFormLoading" mode="indeterminate">
                    </mat-progress-bar>
                </form>
            </section>
        </mat-expansion-panel>
    </mat-accordion>
</section>