<section class="container">
    <header class="mb-3">
        <h1 class="title-1">הגדרות מערכת</h1>
    </header>

    <mat-accordion>
        <!-- Version: -->
        <mat-expansion-panel #versionPanel>
            <mat-expansion-panel-header>
                <mat-panel-title>גירסה</mat-panel-title>
                <mat-panel-description>1.0.0</mat-panel-description>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <!-- Restart Server: -->
        <mat-expansion-panel #versionPanel>
            <mat-expansion-panel-header>
                <mat-panel-title>איתחול השרת</mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>
    </mat-accordion>
</section>