@import "/src/styles/context.scss";
@import "/src/styles/material-theme.scss";
@import "/src/styles/css-reset.scss";
@import "/src/styles/css-base-classes.scss";

:root {
    // Dimensions:
    --txt-sm: #{$font-size-sm};
    --txt-md: #{$font-size-md};
    --txt-lg: #{$font-size-lg};
    --txt-xl: #{$font-size-xl};
    // Colors - General:
    --color-white: #fff;
    --color-black: #000;
    --color-success: #28a745;
    --color-info: #007bff;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-success-bg: #dcfae3;
    --color-danger-bg: #fbe7e9;
    // // Colors - Application Custom:
    --color-primary: #222;
    --color-secondary: #777;
    --color-accent: #d82e2e;
    --color-text: #222;
    --color-text-title: #444;
    --color-separator: #e5e5e5;
}

/* #region  (1) - General HTML Formatting */

*,
::after,
::before {
    border: 0;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: $remSize;
}

body {
    font-size: var(--txt-sm);
    font-weight: 400;
    font-family: $font-family-general;
    color: var(--color-text);
    background: var(--color-background-invert);
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 999999s linear 0s;
}

table {
    width: 100%;
}

th,
td {
    vertical-align: middle;
}

/* #endregion */

/* #region  (2) - Colors */

/* #region  (2.1) - Texts */

.txt-success {
    color: var(--color-success) !important;
}

.txt-info {
    color: var(--color-info) !important;
}

.txt-warning {
    color: var(--color-warning) !important;
}

.txt-danger {
    color: var(--color-danger) !important;
}

.txt-secondary {
    color: var(--color-secondary) !important;
}

.txt-accent {
    color: var(--color-accent) !important;
}

/* #endregion */

/* #region  (2.2) - Background */

.bg-light-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+30,ffffff+70,eeeeee+100 */
    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(
        -45deg,
        rgba(238, 238, 238, 1) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 70%,
        rgba(238, 238, 238, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        -45deg,
        rgba(238, 238, 238, 1) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 70%,
        rgba(238, 238, 238, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        rgba(238, 238, 238, 1) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 70%,
        rgba(238, 238, 238, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-gray-diagonal {
    background: #ddd;
    background: linear-gradient(15deg, #bbb 0%, #eee 50%, #ddd 50.1%, #bbb 100%);
}

/* #endregion */

/* #region  (2.3) - Borders */

.border-success {
    border-color: var(--color-success) !important;
}

.border-info {
    border-color: var(--color-info) !important;
}

.border-warning {
    border-color: var(--color-warning) !important;
}

.border-danger {
    border-color: var(--color-danger) !important;
}

.border-secondary {
    border-color: var(--color-secondary) !important;
}

/* #endregion */

/* #endregion */

/* #region  (3) - Borders */

.border {
    border: 1px solid var(--color-separator) !important;
}

.border-right-bold {
    border-right: 5px solid var(--color-primary);
}

/* #endregion */

/* #region  (4) - Typography */

.title-1 {
    font-size: 1.5rem !important;
    line-height: 1 !important;

    @include break-above-xs() {
        font-size: 1.75rem !important;
    }

    @include break-above-lg() {
        font-size: 2rem !important;
    }
}

/* #endregion */

/* #region  Tables */

.table-wrapper {
    position: relative;
}

.table-wrapper .table-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #endregion */

/* #region  Material Override */

[class^="mat-"]:not(.mat-icon),
[class^="mat-"] *:not(.mat-icon) {
    font-family: $font-family-general !important;
}

.mat-list-item.active {
    background: rgba(0, 0, 0, 0.08) !important;
}

.mat-list-base .mat-list-item-lg,
.mat-list-base .mat-list-option-lg {
    height: 3.5rem !important;
}

.mat-card-actions {
    margin: 0 !important;
    padding: 0 !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    color: var(--color-white);
}

.mat-expansion-panel-header {
    padding: 1.5rem !important;

    @include break-above-xs() {
        padding: 2rem !important;
    }

    @include break-above-lg() {
        padding: 2.25rem !important;
    }
}

.mat-row:hover,
.mat-sort-header:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.mat-no-data {
    text-align: center;
    padding: $space-5 !important;
}

/* #endregion */
