<div class="center-container bg-gray-diagonal">
    <div class="w-100 maxw-xs p-5">
        <form [formGroup]="form" (submit)="performLogin()">
            <mat-card class="p-5 xs-p-6">
                <img src="/assets/jesta_black.svg" alt="לוגו ג'סטה" class="logo" />
                <mat-divider [inset]="true" class="mb-6"></mat-divider>
                <mat-card-title class="text-center mb-5">התחברות מנהל</mat-card-title>
                <mat-card-content>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>דוא"ל</mat-label>
                        <input formControlName="email" matInput type="email" autocomplete="email" />
                        <button mat-icon-button type="button" *ngIf="form.controls['email'].value" matSuffix
                            aria-label="נקה" (click)="form.controls['email'].reset()" tabindex="-1">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="form.controls['email'].hasError('required')">
                            יש להזין כתובת דוא"ל
                        </mat-error>
                        <mat-error *ngIf="form.controls['email'].hasError('email')">
                            כתובת דוא"ל לא תקינה
                        </mat-error>
                        <mat-error *ngIf="form.controls['email'].hasError('maxlength')">
                            אורך מקסימאלי הוא 50 תווים
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>סיסמה</mat-label>
                        <input formControlName="password" matInput type="password" autocomplete="off" />
                        <button mat-icon-button type="button" *ngIf="form.controls['password'].value" matSuffix
                            aria-label="נקה" (click)="form.controls['password'].reset()" tabindex="-1">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="form.controls['password'].hasError('required')">
                            יש להזין סיסמה
                        </mat-error>
                        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
                            אורך מינימאלי הוא 6 תווים
                        </mat-error>
                        <mat-error *ngIf="form.controls['password'].hasError('maxlength')">
                            אורך מקסימאלי הוא 50 תווים
                        </mat-error>
                    </mat-form-field>
                    <div class="text-center">
                        <mat-checkbox formControlName="rememberMe" color="primary" tabindex="-1">
                            זכור אותי
                        </mat-checkbox>
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" class="w-100 py-1"
                        [disabled]="form.invalid || formLoading">כניסה</button>
                </mat-card-actions>
                <mat-progress-bar class="overlay-bottom" *ngIf="formLoading" mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </form>
    </div>
</div>