<section class="container">
    <header>
        <ul class="breadcrumb mb-3">
            <li><a class="primary-link" [routerLink]="['/']"><u>בית</u></a></li>
            <li>{{ pageTitle }}</li>
        </ul>
        <div class="section-header">
            <h1 class="title">{{ pageTitle }}</h1>
            <div class="actions">
                <button *ngIf="hasCreateButton" [routerLink]="[this.forRoute + '/create']" mat-raised-button type="button" class="btn-outline-primary">
                    <mat-icon>add</mat-icon>
                    <span *ifScreenAbove="'xs'" class="mr-1">הוספה</span>
                </button>
            </div>
        </div>
    </header>

    <ng-content></ng-content>
</section>